<!-- <footer>
    <div
        style="display: flex; align-items: center; justify-content: center; gap: 12px; height: 60px; background-color: #010409; border-top: 1px solid #3d444d; font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;">
        <img src="{{ base_url }}/assets/logo.svg" alt="Logo" style="width: 24px; height: 24px; cursor: pointer;"
            onclick="window.location.href = '/'">
        <span style="color: #9198a1; font-size: 13px;">
            © repo.trade
            <script>document.write(new Date().getFullYear())</script> |
            <a href="https://t.me/repotrade" target="_blank" rel="noopener noreferrer"
                style="color: #9198a1; text-decoration: none;">telegram</a> |
            <a href="https://x.com/repo_trade" target="_blank" rel="noopener noreferrer"
                style="color: #9198a1; text-decoration: none;">twitter</a>
        </span>
    </div>
</footer> -->